.taskList {
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.t-name {
    font-weight: bold;
    font-size: 25px;
    justify-self: center;
}

.deletebtn {
    width: 30px;
    height: 30px;
    color: green;
}