.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
}

.name {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
    .wrapper {
    float: none;
    width: 100%;
    }
    }